 <!-- Content Header (Page header) -->
 
    <section class="content-header">
      <h1>
              <div id="titulo">Sustentabilidad</div>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Sustentabilidad</li>
      </ol>
  </section>
    <!-- /.content -->
<br/>
<br/>

<div class="row">
<div class="col-md-1">
</div>
<div class="col-md-10">
	<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse">Sustentabilidad</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">
		<form class="form-horizontal" >
			  <div class="form-group">
		    <label class="control-label col-sm-2"  >Fuente de Ingreso:</label>
		    <div class="col-sm-10"> 
					<select ng-options="x as x.name for x in fuenteIngresos track by x.id"  ng-model="sustentabilidad.sourceId" class="form-control"></select>
		    </div>
		  </div>
			<div class="form-group">
		    <label class="control-label col-sm-2"  >Benefactor:</label>
		    <div class="col-sm-10"> 
		      <input type="text" ng-model="sustentabilidad.benefactor" class="form-control" id="pwd" placeholder="">
		    </div>
			</div>
			  <div class="form-group">
		    <label class="control-label col-sm-2"  >Porcentaje Anual:</label>
		    <div class="col-sm-10"> 
		      <input type="number" ng-model="sustentabilidad.porcentajeAnual" class="form-control" id="pwd" placeholder="">
		    </div>
			</div>
			   <div class="form-group">
		    <label class="control-label col-sm-2" for="pwd">Comentario:</label>
		    <div class="col-sm-10"> 
  				<textarea class="form-control" ng-model="sustentabilidad.comentario" rows="5" id="comment"></textarea>
		    </div>
		  </div>
		</form>   
     
      </div>
			<div class="panel-footer"></div>
				<br/>
			<br/>
			 <button type="submit" id="submit"  name="submit" ng-click="save()" class="btn btn-primary pull-right">Agregar</button>
			
		</div>
		<br/>
		    <div id="collapse2" style="margin-top:20px;" class="panel-collapse collapse in">
      <div class="panel-body">
		<form class="form-horizontal" >
		      <table ng-table="usersTable"  show-filter="true"class="table table-striped">
          <tr ng-repeat="user in data">
              
              <td data-title="'Fuente'" sortable="'sourceName'" filter="{ 'sourceName': 'text' }" >
                  {{user.sourceName}}
              </td>
              
              <td data-title="'Benefactor'" sortable="'benefactor'" filter="{ 'benefactor': 'text' }" >
                  {{user.benefactor}}
							</td>    
				<td data-title="'%Anual'"  >
                  {{user.porcentajeAnual}}
							</td> 	
			<td data-title="'Comentario'"  >
                  {{user.comentario}}
              </td> 		
               <td data-title="'Edicion'"  >
				 <button type="submit" id="submit" style="margin-left:-20px;"  name="Eliminar" ng-model="user.id" ng-click="remove(user.id)" class="btn btn-danger pull-right">Eliminar</button>
              </td>     
                
          </tr>
        </table>
		</form>   
     
      </div>
			<div class="panel-footer"></div>
				<br/>
			<br/>
			
    </div>
  </div>
</div>
</div><div class="col-md-1">
</div>

</div>

